<%= link_to 'Cancel', root_path %>
<hr />

<h1>Create a New Incident Report</h1>
<p><strong><font color="red">IMPORTANT:</font></strong> Please fill in the form below as accurately as possible. This will speed up the cost recovery process.<br />
When you're done, click the <strong>'Save Incident'</strong> button at the bottom of the screen.</p>
<hr />
<%= render 'form' %>


